body {
    background-color: black;
    color: white;
}
.top {

    display: flex;
    justify-content: space-between;
    margin: 10px;
    flex-wrap: wrap;
}

.top li{
    display: inline;
}

.toplink a {
    color: white;
    text-decoration: none;
}

.toplink a:hover{
    text-decoration: underline;
}
.toplink {
    margin-right:30px;
    font-size:2em;
}

.topbutton {

    background-color: red;
    padding:20px;
    
    
}

.cover {
    background-image:url("../img/banner/banner.jpg");
    background-size: cover;
    height:700px;
    background-position: center;
    text-align: center;

}

.heading {
    padding-top:15%;
    font-size: 4em;
}

.artist {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 20px;

}

.artist2 {
    text-align: center;
}

.artistinfo {
    width:50%;
    font-size: 2em;

}

.artistinfo2 {

    font-size: 2em;
    width: 75%;
    margin: auto;

}
.artisthead h1  {
    text-align: center;
    padding:20px;
    color: red;
    font-size: 3em;

}

.buy {
    margin-top:50px;
    padding: 10px;
    text-align: center;
}
.buy a{
    color: white;
    text-decoration: none;
}


.programs {
    display: flex;
    justify-content: space-between;
    margin: 100px;
    padding: 20px;

}

footer {
    text-align: center;
}

th, td {
    padding: 15px;
    text-align: left;
    font-size: 1.5em;
  }

  .tickets {

    text-align: center;
    background-color: rgb(70, 65, 65);
    width: 50%;
    margin: auto;
  }

  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: red;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: rgb(173, 6, 6);
  }

  .userinfo {

    text-align: center;
    background-color: rgb(24, 18, 18);
    width: 50%;
    margin: auto;
}

.userinfo label{
    text-align: right;
}

.userinfo table {
    margin: auto;
}